<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="allProducts.GoBack()"></button>
    <button class="button button-icon button-clear ion-ios-settings" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-title><img class="padding-top-10" src="img/inagrablogo.png" width="80" height="30"></ion-nav-title>
  <ion-nav-buttons side="right">
    <!--<button class="button button-icon icon ion-ios-bell-outline" ng-click="allProducts.GoToCart()">
      <span ng-if="totalCartItem>0" class="badge cart-count">{{totalCartItem}}</span>
    </button>-->
    <button class="button button-icon icon ion-android-contact" ng-click="allProducts.GoToUserProfile()"></button>
  </ion-nav-buttons>
<ion-header-bar class="bar bar-stable bar-subheader item-input-inset overflow-v category-sub-header">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text"
             ng-model="allProducts.searchText"
             ng-change="menu.go(allProducts.searchText,'allPro')"
             placeholder="Search"
             ng-model-options="{debounce: 800}" >
    </label>
    <div class="cancel-category-search" ng-if="allProducts.searchText" ng-click="allProducts.cancelSearchByText()">
      <i class="icon ion-ios-close dark text-xxx-large"></i>
    </div>
    
  </ion-header-bar>
  <ion-content class="has-subheader">

    <div class="row row-no-padding margin-0 border-bottom-gray">
      <div class="col padding-0 postion-relative">
        <img class="block full-image" cache-src="{{allProducts.categoryImage||'img/allcat.jpg'}}" alt="">
        <div class="bottom-right  ">
          <div class="triangle margin-left--30px"></div>
          <div class="bg-color3B3A47">
            <div class="bg-color3B3A47 color-white category-button">
              <span ng-bind-html="allProducts.category.name"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="allProducts.productList.length==0" class="text-center">
      <h3>Sorry!</h3>
      <h4 class="gray">No products are available in this category</h4>
    </div>
    <div ng-if="allProducts.productList.length==0 && allProducts.noProductDataAfterFilter" class="text-center">
      <h3>Sorry!</h3>
      <h4 class="gray">No products are available for applied filter. Please try with different filter</h4>
    </div>
    <div class="row row-no-padding border-bottom-lightgray padding-top-10" 
    ng-repeat="item in allProducts.searchResult" ng-click="allProducts.GoToProductDettails(item)"
    ng-if="item.actualMinPrice || item.price">
      <div class="col">
        <div class="row padding-top-5 margin-top-0">
          <div class="col col-25">
            <div class="border-lightgray">
              <img ng-src="{{item.img}}" class="full-image">
            </div>
          </div>
          <div class="col">
            <div class="row row-no-padding">
              <div class="col bold item-title" ng-bind-html="item.post_title|capitalize">
              </div>
            </div>
            <div class="row balanced row-no-padding margin-top-5">
              <div class="col" ng-if="item.actualMinPrice || item.price">
                {{allProducts.symbol}} {{item.actualMinPrice.toString()||item.price}}
              </div>
              <div class="col" ng-if="!(item.actualMinPrice || item.price)">
                Price not available
              </div>
            </div>
            <div class="row gray text-small row-no-padding margin-top-5">
              <div class="col item-desc" ng-bind-html="item.s_desc">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll  ng-if="moreDataAvailable" on-infinite="allProducts.loadMore()" icon="none"></ion-infinite-scroll>
  </ion-content>
  <!--<ion-footer-bar ng-class="{'bar-positive':moreDataAvailable,'bar-stable':!moreDataAvailable}" 
  align-title="center" ng-click="allProducts.loadMore()" ng-if="moreDataAvailable">
    <h1 class="title">Fetch more</h1>-->
    <!--<h1 class="title" ng-if="!allProducts.moreDataAvailable">No more items</h1>-->
  <!--</ion-footer-bar>-->
</ion-view>