<ion-view>
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="bestDeal.GoBack()"></button>
    </div>
    <h1 class="title"><img class="padding-top-10" src="img/inagrablogo.png" width="80" height="30"></h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-header-bar class="bar-stable bar-subheader" ng-if="bestDeal.selectedAffiliate">
    <h1 class="title">Showing results from {{bestDeal.selectedAffiliate|capitalize}} only</h1>
  </ion-header-bar>
  <ion-content ng-class="{'has-subheader':bestDeal.selectedAffiliate}">


    <div class="row row-no-padding border-bottom-lightgray padding-top-10" 
    ng-repeat="item in bestDeal.searchResult" ng-click="bestDeal.productDesc(item)" ng-if="!item.invalid">
      <div class="col">
        <div class="row padding-top-5 margin-top-0">
          <div class="col col-25">
            <div class="border-lightgray">
              <img ng-src="{{item.img}}" class="full-image">
            </div>
          </div>
          <div class="col">
            <div class="row row-no-padding">
              <div class="col bold item-title" ng-bind-html="item.post_title|capitalize">
                
              </div>
            </div>
            <div class="row balanced row-no-padding margin-top-5">
              <div class="col">
                {{bestDeal.symbol}} {{item.actualMinPrice}}
              </div>
            </div>
            <div class="row gray text-small row-no-padding margin-top-5">
              <div class="col item-desc" ng-bind-html="item.s_desc">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="bestDeal.fetchMoreResults()" distance="100px" icon="none"
    ng-if="bestDeal.moreProductsAvailable"></ion-infinite-scroll>
  </ion-content>
  <!--<ion-footer-bar align-title="center" class="bar-positive" ng-class="{'disabled':bestDeal.searchResult.length<10}" ng-click="bestDeal.fetchMoreResults()">
    <h1 class="title">
      <span ng-if="bestDeal.searchResult.length%10==0">Fetch more results</span>
      <span ng-if="bestDeal.searchResult.length%10!=0">No more results</span>
    </h1>
  </ion-footer-bar>-->
</ion-view>