<ion-modal-view>
  <ion-header-bar class="bar-stable"  align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="cart.goBack()"></button>
    </div>
    <h1 class="title"><img src="img/inagrablogo.png" width="80" height="20"></h1>
    <div class="buttons">
      <!--<button class="button button-icon icon ion-ios-trash-outline"></button>-->
      <button class="button button-icon icon ion-android-contact" ng-click=" cart.GoToUserProfile()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-if="!cart.cartItems || cart.cartItems.length==0" class="text-center margin-top-30">
      <i class="icon ion-ios-cart-outline " style="font-size: 100px"></i>
      <h3>Cart is empty</h3>
      <button class="button button-facebook round" ng-click="cart.GoToCategory()">Let's Shop</button>
    </div>

    <div  ng-if="cart.cartItems.length>0">
      <div class="list list-inset margin-0">
        <div class="item row padding-5"  ng-repeat="cart in cart.cartItems">
          <div class="col col-40" style="background-image: url('{{cart.img}}');background-size: contain; background-repeat: no-repeat;">
            <!--<div  class="img" style="background-image: url({{x.img}})" ui-sref="app.product({id: x.id})"></div>-->

          </div>
          <div class="col col-40">
            <div class="cart-detail">
              <h3>{{cart.title}}</h3>
              <!--<span ng-if="x.variations.name">{{x.variations.name}}: {{x.variations.option}}</span>-->
              <!--<div class="price" ng-bind-html="(x.qty * x.price) | currency:format:decimal"></div>-->
              <p>${{cart.price}}</p>
              <div class="row">
                        <span class="col col-33">
                            <button ng-disabled="cart.qty<2" class="button button-light button-small ion-minus" ng-click="addItem(cart, -1);"></button>
                        </span>
                        <span class="col col-33"><button class="button button-light button-small">{{cart.qty}}</button></span>
                        <span class="col col-33">
                            <button class="button button-light ion-plus button-small" ng-click="addItem(cart, 1);"></button>
                        </span>
              </div>
            </div>
          </div>
          <div class="col col-20 text-center margin-top-10">
            <i class="button button-icon icon ion-ios-trash-outline" ng-click="removeCart($index, cart);"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5" style="background-color: darkgrey" ng-if="cart.cartItems.length>0">
      <div class="col col-40 text-left">
        SUBTOTAL
      </div>
      <div class="col col-60 text-right">
        <strong><span ng-bind-html="getCartTotal() | currency:format:decimal"></span></strong>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="padding-0">
    <button class="button button-full button-facebook margin-0 padding-0" ng-disabled="!cart.cartItems || cart.cartItems.length==0" ng-click="cart.GoToShippingDetails()">
      Checkout
    </button>
  </ion-footer-bar>
</ion-modal-view>
