<ion-view>
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="category.GoToHome()"></button>
    </div>
    <h1 class="title">
      <img class="padding-top-10" src="img/inagrablogo.png" width="80" height="30">
    </h1>
    <div class="buttons">
      <button class="button button-icon icon ion-android-contact" ng-click="category.GoToUserProfile()"></button>
    </div>
  </ion-header-bar>
  <ion-header-bar class="bar bar-stable bar-subheader item-input-inset overflow-v category-sub-header">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text"
             ng-model="category.searchText"
             ng-change="category.findProduct()"
             placeholder="Search"
             ng-model-options="{debounce: 800}" >
    </label>
    <div class="cancel-category-search" ng-if="category.searchText" ng-click="category.cancelSearch()">
      <i class="icon ion-ios-close dark text-xxx-large"></i>
    </div>
    <div class="row row-no-padding search-results-category" ng-if="category.searchResult.length && category.searchResults">
      <div class="col">
        <div class="search-results-inner-div">
          <ion-list class="padding-0">
            <ion-item ng-repeat="item in category.searchResult | limitTo:10" 
            ng-style="category.searchItemList" ng-click="category.productDesc(item)"
              class="item-text-wrap margin-1 padding-5" ng-if="item.actualMinPrice||item.price">
              <div class="row">
                <div class="col col-25">
                  <div class="border-lightgray">
                    <img ng-src="{{item.img}}" class="full-image">
                  </div>
                </div>
                <div class="col">
                  <div class="row row-no-padding">
                    <div class="col bold item-title" ng-bind-html="item.post_title|capitalize">
                      
                    </div>
                  </div>
                  <div class="row balanced row-no-padding margin-top-5">
                    <div class="col">
                      {{category.symbol}} {{item.actualMinPrice.toString()||item.price}}
                    </div>
                  </div>
                  <div class="row gray text-small row-no-padding margin-top-5">
                    <div class="col item-desc" ng-bind-html="item.s_desc">
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <ion-item class="padding-5 margin-1">
          <button class="button button-block margin-0 button-theme-blue button-small border-radius25" ng-click="category.bestDeals()">
              Show all results
            </button>
        </ion-item>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="has-header has-subheader" scrollbar-y="false">
    <div class="row row-no-padding margin-0 border-bottom-gray" ng-click="category.GoToAllProducts(cat)" 
    ng-repeat="cat in category.categoryArray|orderBy:'name'" ng-if="$index">
      <div class="col padding-0 postion-relative category-div">
        <img class="padding-bottom-1 block full-image" cache-src="{{cat.img}}" alt="">
        <div class="bottom-right  " ng-if="$index%2!=0">
          <div class="triangle margin-left--30px"></div>
          <div class="bg-color3B3A47">
            <div class="bg-color3B3A47 color-white category-button" style="line-height: 20px" ng-click="category.GoToAllProducts(cat.name)">
              <span class="text-medium" ng-bind-html="cat.name"></span><i class="icon ion-android-arrow-forward padding-left-10"></i>
            </div>
          </div>
        </div>
        <div class="bottom-left " ng-if="$index%2==0">
          <div class="bg-color004D83">
            <div class=" bg-color004D83 color-white category-button" style="line-height: 20px" ng-click="category.GoToAllProducts(cat.name)">
              <span class="text-medium" ng-bind-html="cat.name"></span><i class="icon ion-android-arrow-forward padding-left-10"></i>
            </div>
          </div>
          <div class="triangle-right margin-right--20px"></div>
        </div>
      </div>
    </div>
    <div class="search-backdrop" ng-if="category.searchResults" ng-style="category.content" ng-click="category.cancelSearch()"></div>
  
  </ion-content>

</ion-view>