<ion-modal-view>
  <ion-header-bar class="bar-stable"  align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="confirm.goBack()"></button>
    </div>
    <h1 class="title"><img src="img/inagrablogo.png" width="80" height="20"></h1>
  </ion-header-bar>
  <ion-content>
    <div class="item item-divider">
      SHIPPPING ADDRESS
    </div>
    <ul class="list">
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Payment Method
          </div>
          <div class="col col-60 text-right">
            {{paymentmethod}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Shipping Method
          </div>
          <div class="col col-60 text-right">
            {{shipmethod}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Subtotal
          </div>
          <div class="col col-60 text-right">
            ${{subtotal}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Shipping Cost
          </div>
          <div class="col col-60 text-right">
            ${{shipcost}}
          </div>
        </div>
      </li>
      <li class="item font-18 row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            <strong>Total</strong>
          </div>
          <div class="col col-60 text-right">
            <strong>${{total}}</strong>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar class="padding-0">
    <button class="button button-full icon-center ion-locked button-facebook margin-0 padding-0" ng-click="createOrder()">
      Pay ${{total}}
    </button>
  </ion-footer-bar>
</ion-modal-view>
