<ion-modal-view ng-controller="filterOptionsCtrl as filterOptions">
  <ion-header-bar align-title="center">
    <!--<div class="buttons">-->
      <!--<button class="button button-icon icon ion-ios-settings"></button>-->
    <!--</div>-->
    <h1 class="title">Filters</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="list list-inset margin-top-10">
          <label class="item item-input border-radius16 padding-top-0 padding-bottom-0 lightgray-bg">
            <i class="icon ion-search placeholder-icon"></i>
            <input class="border-radius25" type="text" placeholder="Search">
          </label>
        </div>
      </div>
    </div>

    <div class="margin-top-30">
      <div class="row" ng-repeat="cat in categoryArray">
        <div class="col col-20 text-right">
          <i class="icon ion-ios-plus-outline"></i>
        </div>
        <div class="col col-80" ng-bind-html="cat.name">

        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="padding-0">
    <button class="button button-full button-signUp margin-0 padding-0 font-18">
      GO <i class="icon ion-arrow-right-c"></i>
    </button>
  </ion-footer-bar>
</ion-modal-view>
