<ion-modal-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="forgotPassword.GoBack()"></button>
    </div>
    <h1 class="title"></h1>

  </ion-header-bar>
  <ion-content class="has-header">
    <div>
      <div class="row div-centered-80">
        <div class="col text-center">
          <h3 class="signUpColor margin-0">Welcome to</h3>
          <img class="margin-0" src="img/inagrablogo.png" width="90%" height="50%">
        </div>
      </div>
      <div class="row">
        <div class="col">

          <form>
            <div class="list list-inset margin-bottom-0">
              <label class="item item-input">
                  <input type="text"  placeholder="Type your Email Address">
                </label>
            </div>
          </form>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-full button-signIn">
              Submit
        </button>
        </div>
      </div>
    </div>
  </ion-content>
  <!--<ion-footer-bar class="padding-0">
    <button class="button button-full button-google margin-0 padding-0">
        Send
      </button>
  </ion-footer-bar>-->
</ion-modal-view>