<ion-modal-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="invite.GoBack()"></button>
    </div>
    <h1 class="title"></h1>
  </ion-header-bar>
  <ion-content>
    <div ng-style="invite.center" class="valign-parent padding-top-0" >
      <div class="valign-child">
        <div class="row div-centered-80">
          <div class="col text-center">
            <img class="full-image" src="img/inagrablogo.png">
            <h3 class="InviteColor margin-zero line-height10">Invite</h3>
          </div>
        </div>
        <div class="row margin-top-30">
          <div class="col">
              <button class="button button-block button-facebook" ng-click="invite.facebookInvite()">
                Facebook
              </button>
              <button class="button button-block button-whatsapp" ng-click="invite.whatsappInvite()">
                Whatsapp
              </button>
              <button class="button button-block button-positive" ng-click="invite.phoneContactInvite()">
                Phone Contacts
              </button>
              <button class="button button-block button-email" ng-click="invite.emailContactInvite()">
                Email Contacts
              </button>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </ion-content>
</ion-modal-view>
