<ion-modal-view class="dark-bg">
  <ion-header-bar class="bar-transparent">
    <div class="buttons">
      <h1 class="title"></h1>
      <button class="button button-icon icon ion-android-close transparent-bar-button"
              ng-click="productDetail.hideLightbox()"></button>
    </div>
  </ion-header-bar>
  <ion-content >
    <ion-slide-box show-pager="false">
      <!--<ion-slide ng-repeat="image in productDetail.selectedProduct.images" ng-style="productDetail.fullDim" class="valign-parent dark-bg">
        <div class="valign-child">
          <img ng-src="{{image.src}}" class="full-image">
        </div>
      </ion-slide>-->
      <ion-slide ng-repeat="image in productDetail.imagesData" 
      ng-style="productDetail.fullDim" class="valign-parent dark-bg" ng-if="image.img">
        <div class="valign-child">
          <img ng-src="{{image.img}}" class="full-image">
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>
