<ion-modal-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ui-sref="signIn"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-home" ng-click="login.goToHome()"></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <div ng-style="login.margin5percent">
      <div class="row div-centered-80">
        <div class="col text-center">
          <h3 class="signUpColor margin-0">Welcome to</h3>
          <img class="full-image" src="img/inagrablogo.png" width="90%" height="50%">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <!--<button class="button button-full button-signIn" ng-click="login.GoToSignIn()">
              Sign In
            </button>-->
            <button class="button button-full button-signUp" ng-click="login.GoTosignUpForm()">
              Sign Up
            </button>
          </div>
          <div class="row">
            <div class="col">
              <hr>
            </div>
            <div class="col col-20 text-center">
              OR
            </div>
            <div class="col">
              <hr>
            </div>
          </div>
          <div>
            <button class="button button-full button-facebook" ng-click="login.facebookSignIn()">
              Facebook
            </button>
            <button class="button button-full button-google" ng-click="login.googleLogin()">
              Google+
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="message">
        <div class="col">
          {{message}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
