<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" align-title="left">
      <div class="buttons">
        <button class="button button-icon icon ion-android-close" menu-toggle></button>
      </div>
      <h1 class="title">Filter</h1>
      <div class="buttons">
        <button class="button button-icon button-clear" menu-toggle ng-click="menu.resetFilter()">Reset</button>
      </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true">

      <div class="div-centered-90 padding-top-10">
        <!--<label class="margin-left-5 neutra text-medium">STARS</label>
        <div class="range range-positive relative margin-top-5">
          {{menu.ratingMin}}
          <input type="range" name="startRating" min="{{menu.ratingMin}}" max="{{menu.ratingMax}}" ng-model="menu.ratingValue">          {{menu.ratingMax}}
          <span class="slider-value" ng-style="menu.sliderOfStar">{{menu.ratingValue}}</span>
        </div>-->

        <!-------------------------------------------------------------------------------------------------------------------->

        <!--<label class="margin-left-5 neutra text-medium">REVIEWS</label>
        <div class="range range-positive relative margin-top-5">
          {{menu.reviewMin}}
          <input type="range" name="review" min="{{menu.reviewMin}}" max="{{menu.reviewMax}}" ng-model="menu.reviewValue">          {{menu.reviewMax}}
          <span class="slider-value" ng-style="menu.sliderOfReviews">{{menu.reviewValue}}</span>
        </div>-->

        <!-------------------------------------------------------------------------------------------------------------------->


        <div class="relative">
          <label class="margin-left-5 neutra text-medium bold">
          SORT BY
        </label>
          <label class="item item-input item-select website-label" ng-click="menu.toggleSortList()" ng-class="{'z-100':menu.showSortList}">
        {{menu.selectedSort}}
        </label>
          <div class="website-list" ng-if="menu.showSortList">
            <div class="row padding-top-5 margin-top-0 padding-left-15 filter-list border-bottom-lightgray gray" ng-repeat="sort in menu.allSorts"
              ng-click="menu.selectSort(sort)">
              <div class="col">
                {{sort.name|capitalize}}
              </div>
            </div>
          </div>
        </div>

        <!-------------------------------------------------------------------------------------------------------------------->


        <div class="relative">
          <label class="margin-left-5 neutra text-medium bold">
          CATEGORY
        </label>
          <label class="item item-input item-select website-label " ng-click="menu.toggleCategoryList()" ng-class="{'z-100':menu.showCategoryList}"
            ng-bind-html="menu.selectedCat">
        </label>
          <div class="category-list-search" ng-if="menu.showCategoryList">
            <ion-item class="padding-0">
              <label class="item item-input">
                <input type="text" placeholder="Search Category" ng-model="menu.categoryListSearch">
              </label>
            </ion-item>
          </div>
          <div class="category-list" ng-if="menu.showCategoryList">
            <div class="row padding-top-5 margin-top-0 padding-left-15 filter-list border-bottom-lightgray gray" ng-repeat="category in menu.allCategories|catFilter : menu.categoryListSearch"
              ng-click="menu.selectCat(category)">
              <div class="col" ng-bind-html="category.name">

              </div>
            </div>
          </div>
        </div>


        <!-------------------------------------------------------------------------------------------------------------------->


        <div class="relative" ng-if="menu.selectedCatId && menu.catHasSubCat(menu.selectedCatId)">
          <label class="margin-left-5 neutra text-medium bold">
          SUB-CATEGORY
        </label>
          <label class="item item-input item-select website-label " ng-click="menu.toggleSubCategoryList()" ng-class="{'z-100':menu.showSubCategoryList}"
            ng-bind-html="menu.selectedSubCat">
        </label>
          <div class="category-list-search" ng-if="menu.showSubCategoryList">
            <ion-item class="padding-0">
              <label class="item item-input">
                <input type="text" placeholder="Search Sub-category" ng-model="menu.subCategoryListSearch">
              </label>
            </ion-item>
          </div>
          <div class="category-list" ng-if="menu.showSubCategoryList">
            <div class="row padding-top-5 margin-top-0 padding-left-15 filter-list border-bottom-lightgray gray" ng-repeat="subcategory in menu.allSubCategories|catFilter : menu.subCategoryListSearch"
              ng-if="subcategory.catId==menu.selectedCatId" ng-click="menu.selectSubCat(subcategory)">
              <div class="col" ng-bind-html="subcategory.name">

              </div>
            </div>
          </div>
        </div>
        <!-------------------------------------------------------------------------------------------------------------------->


        <div class="relative">
          <label class="margin-left-5 neutra text-medium bold">
          BRAND
        </label>
          <label class="item item-input item-select website-label " ng-click="menu.toggleBrandList()" ng-class="{'z-100':menu.showBrandList}">
        {{menu.selectedBrand}}
        
        </label>
          <div class="category-list-search" ng-if="menu.showBrandList">
            <ion-item class="padding-0">
              <label class="item item-input">
                <input type="text" placeholder="Search Brand" ng-model="menu.brandListSearch">
              </label>
            </ion-item>
          </div>
          <div class="category-list" ng-if="menu.showBrandList">
            <div class="row padding-top-5 margin-top-0 padding-left-15 filter-list border-bottom-lightgray gray" 
            ng-repeat="brand in menu.allBrands|catFilter : menu.brandListSearch"
              ng-click="menu.selectBrand(brand)">
              <div class="col" ng-bind-html="brand.name">

              </div>
            </div>
          </div>
        </div>

        <!-------------------------------------------------------------------------------------------------------------------->

        <div class="relative">
          <label class="margin-left-5 neutra text-medium bold">
          WEBSITE
        </label>
          <label class="item item-input item-select website-label " ng-click="menu.toggleWebsiteList()" ng-class="{'z-100':menu.showWebsiteList}">
          {{menu.selectedWebsite|capitalize}}
        
        </label>
          <div class="website-list" ng-if="menu.showWebsiteList">
            <div class="row padding-top-5 margin-top-0 padding-left-15 filter-list border-bottom-lightgray gray" ng-repeat="website in menu.allWebsites"
              ng-click="menu.selectWebsite(website)">
              <div class="col">
                {{website.logo|capitalize}}
              </div>
            </div>
          </div>
        </div>

        <!-------------------------------------------------------------------------------------------------------------------->

        <!--
        <label class="margin-left-5 neutra text-medium">PRICE</label>
        <div class="range range-positive relative margin-top-5">
          ${{menu.priceMin}}
          <input type="range" name="price" min="{{menu.priceMin}}" max="{{menu.priceMax}}" ng-model="menu.priceValue"> ${{menu.priceMax}}
          <span class="slider-value" ng-style="menu.sliderOfPrice">${{menu.priceValue}}</span>
        </div>-->

        <!-------------------------------------------------------------------------------------------------------------------->
        <label class="margin-left-5 neutra text-medium bold">PRICE</label>
        <div class="row row-center margin-0 padding-top-5">
          <div class="col padding-0">
            <div class="item range range-positive no-border">
              <!--<div class="range-label padding-right-5">{{menu.priceMin}}</div>-->
              <ui-multi-range ng-step="10" ng-min="menu.priceMin" ng-max="menu.priceMax" ng-model-min="menu.minPriceSelected" ng-model-max="menu.maxPriceSelected"
                ng-change-min="menu.priceChanged()" ng-change-max="menu.priceChanged()"></ui-multi-range>
              <!--<div class="range-label padding-left-5">{{menu.priceMax}}</div>-->
              <span class="multi-slider-value" ng-style="menu.sliderMin">{{menu.minPriceSelected}}</span>
              <span class="multi-slider-value" ng-style="menu.sliderMax">{{menu.maxPriceSelected}}</span>
            </div>
          </div>
        </div>
        <div class="row row-no-padding padding-horizontal gray text-medium">
          <div class="col">{{menu.symbol}} {{menu.priceMin}}
          </div>
          <div class="col text-right">{{menu.symbol}} {{menu.priceMax}}
          </div>
        </div>
        <div class="row padding-top-30">
          <div class="col margin-left-5 text-center neutra text-medium padding-bottom-30
        positive">LEGAL INFORMATION
          </div>
        </div>

      </div>
      <div class="select-overlay" ng-if="menu.showCategoryList ||menu.showSubCategoryList || menu.showBrandList || menu.showWebsiteList||menu.showSortList"
        ng-click="menu.hideShownList()" ng-style="menu.fullHeight"></div>
    </ion-content>



    <ion-footer-bar class="bar-positive button-theme-blue z-100" align-title="center" menu-toggle>
      <h1 class="title" ng-click="menu.go('','menu')">GO</h1>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>