<ion-view>
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="orders.goBack()"></button>
    </div>
    <h1 class="title"><img src="img/inagrablogo.png" width="80" height="20"></h1>
    <div class="buttons">
      <!--<button class="button button-icon icon ion-ios-cart-outline" ng-click="orders.GoToCart()"></button>-->
      <button class="button button-icon icon ion-ios-reload" ng-click="doRefresh()"></button>
    </div>
  </ion-header-bar>

  <ion-header-bar class="bar-subheader bar-dark" align-title="center">
    <h1 class="title">Purchase History</h1>
  </ion-header-bar>
  <ion-content class="has-subheader">
    <div ng-if="!order&&!orders.flag" class="text-center" ng-hide="order">
      <img src="img/cartEmpty.png" width="50%" height="auto">
      <h3>No orders to show</h3>
      <h3>Refresh to load orders</h3>
    </div>
    <div ng-if="!order.length && order" class="text-center" ng-hide="order.flag">
      <img src="img/cartEmpty.png" width="50%" height="auto">
      <h3>No orders are placed</h3>
      <h3>you have to place orders</h3>
    </div>
    <ion-list class="cart">
      <ion-item ng-repeat="x in order" class="item item-icon-right ink" ng-click="GoToOrderDetail(x.id)">
        <h2><b>#{{x.id}}</b> &mdash; {{x.created_at | date:'dd/MM/yyyy'}}</h2>
        <p><span ng-bind-html="x.total | currency:format:decimal"></span> &mdash; {{x.line_items.length}} items</p>
        <h2 class="dark"><b>{{x.status}}</b></h2>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>