<ion-view>
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </div>
    <div ng-if="totalCartItem>0">
      <span>{{totalCartItem}}</span>
    </div>
    <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
    <h1 class="title">Order #{{id}}</h1>
  </ion-header-bar>
  <ion-content class="checkout">
    <div class="item item-divider">
      ORDER SUMMARY
    </div>
    <ul class="list">
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Status
          </div>
          <div class="col col-60 text-right">
            {{order.status}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Payment Method
          </div>
          <div class="col col-60 text-right">
            {{order.payment_details.method_title}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Shipping Method
          </div>
          <div class="col col-60 text-right" ng-bind-html="order.shipping_lines[0].method_title">
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Shipping Cost
          </div>
          <div class="col col-60 text-right" ng-bind-html="order.shipping_lines[0].total | currency:format:decimal">
          </div>
        </div>
      </li>
      <li class="item row-no-padding" ng-if="order.note">
        <div class="row">
          <div class="col col-40 text-left">
            Notes
          </div>
          <div class="col col-60 text-right">
            {{order.note}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Subtotal
          </div>
          <div class="col col-60 text-right" ng-bind-html="order.subtotal | currency:format:decimal">

          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            TOTAL
          </div>
          <div class="col col-60 text-right" ng-bind-html="order.total | currency:format:decimal">

          </div>
        </div>
      </li>
      </ul>
    <div class="item item-divider">
      SHIPPING ADDRESS
    </div>
    <ul class="list">
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            First Name
          </div>
          <div class="col col-60 text-right">
            {{order.shipping_address.first_name}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Last Name
          </div>
          <div class="col col-60 text-right">
            {{order.shipping_address.last_name}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Country
          </div>
          <div class="col col-60 text-right">
            {{order.shipping_address.country}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Address
          </div>
          <div class="col col-60 text-right">
            {{order.shipping_address.address_1}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            City
          </div>
          <div class="col col-60 text-right">
            {{order.shipping_address.city}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            State
          </div>
          <div class="col col-60 text-right">
            {{order.shipping_address.state}}
          </div>
        </div>
      </li>
      <li class="item row-no-padding">
        <div class="row">
          <div class="col col-40 text-left">
            Postcode
          </div>
          <div class="col col-60 text-right">
            {{order.shipping_address.postcode}}
          </div>
        </div>
      </li>
      </ul>
    <div class="item item-divider">
      ORDERED ITEMS
    </div>
    <ion-list class="cart">
      <ion-item ng-repeat="x in order.line_items track by $index" class="item">
        <div class="cart-detail">
          <h2>{{x.name}}</h2>
          <span ng-if="x.meta[0].key">{{x.meta[0].label}}: {{x.meta[0].value}}</span>
          <div class="price" ng-bind-html="(x.quantity * x.price) | currency:format:decimal"></div>
          <h3>Qty: {{x.quantity}} items</h3>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
