<ion-view>
  <ion-header-bar class="bar-stable" align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="productDetail.GoBack()"></button>
    </div>
    <h1 class="title"><img class="padding-top-10" src="img/inagrablogo.png" width="80" height="30"></h1>
    <div class="buttons">
      <!--<button class="button button-icon icon ion-ios-bell-outline" ng-click="productDetail.GoToCart()">
        <span ng-if="totalCartItem>0" class="badge cart-count">{{totalCartItem}}</span>
      </button>-->
      <button class="button button-icon icon ion-android-contact" ng-click="productDetail.GoToUserProfile()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="product-detail-page">
    <div class="row row-no-padding">
      <div class="col">
        <div class="row padding-bottom-0">
          <!--<div class="img"-->
          <!--style="background-image: url({{product[$index].featured_src ? product[$index].featured_src : 'img/productDetail.selectedProduct.png'}})"></div>-->
          <div class="col col-33 " ng-style="allProducts.productImage">
            <div class="productImage">
              <img ng-src="{{productDetail.featureImage||'img/inagrablogo.png'}}" class="full-image " ng-click="productDetail.openLightbox()">
            </div>
            <div class="text-center positive padding-top-10" ng-click="productDetail.seeReviews()">
              See Reviews
            </div>
          </div>
          <div class="col col-67">
            <div class="row row-no-padding padding-top-10 padding-bottom-10">
              <div class="col text-center positive" ng-click="productDetail.goToCategory()" ng-bind-html="productDetail.category.name">
                
              </div>
            </div>
            <div class="row">
              <div class="col text-center bold" ng-bind-html="productDetail.selectedProduct.post_title">
                
              </div>
            </div>
            <div class="row">
              <div class="col text-center text-small gray">
                Best Deal
              </div>
            </div>
            <div class="row row-no-padding">
              <div class="col text-xx-large dark text-center">
                {{productDetail.symbol}} {{productDetail.minAffiliatePrice}}
              </div>
            </div>
            <div class="row">
              <div class="col text-center text-small positive" ng-click="productDetail.goToUrl(productDetail.minAffiliateUrl)">
                {{productDetail.minAffiliate}}
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <button class="button button-positive button-small" style="min-width: 100px" ng-click="productDetail.goToUrl(productDetail.minAffiliateUrl)">Buy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-no-padding">
      <div class="col">
        <ion-scroll delegate-handle="slider" direction="x" zooming="false" scrollbar-x="false" class="tab-row-scroll">
          <div class=" tab-row padding-0">
            <div class="tab-col text-center" id="slide0" ng-class="{'active':productDetail.selectedTab==0}" ng-click="productDetail.goToSlide(0)">
              Prices
            </div>
            <div class="tab-col text-center" id="slide1" ng-class="{'active':productDetail.selectedTab==1}" ng-click="productDetail.goToSlide(1)">
              Details
            </div>
            <div class="tab-col text-center" id="slide2" ng-class="{'active':productDetail.selectedTab==2}" ng-click="productDetail.goToSlide(2)">
              Videos
            </div>
            <div class="tab-col text-center" id="slide3" ng-class="{'active':productDetail.selectedTab==3}" ng-click="productDetail.goToSlide(3)">
              Social
            </div>
            <div class="tab-col text-center" id="slide4" ng-class="{'active':productDetail.selectedTab==4}" ng-click="productDetail.goToSlide(4)">
              News
            </div>
            <div class="tab-col text-center" id="slide5" ng-class="{'active':productDetail.selectedTab==5}" ng-click="productDetail.goToSlide(5)">
              Books
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>
    <ks-swiper-container swiper="productDetail.swiper" override-parameters="{'effect':'slide'}" initial-slide="0" loop="false"
      show-nav-buttons="false" slides-per-view="1" space-between="1" pagination-clickable="false"
      on-ready="productDetail.onReadySwiper(swiper)" calculateHeight="true">
      <ks-swiper-slide class="swiper-slide" style="padding:1px;">
        <div class="slide">
          <div ng-repeat="data in productDetail.comparisonData|orderBy:'price'" ng-if="data.price!=NaN">
            <div class="row margin-top-5">
              <div class="col col-20 websiteLogo" style="background-image: url('{{data.logo}}')" ng-click="productDetail.goToUrl(data.url)">

              </div>
              <div class="col col-40  line-height10 text-center" ng-click="productDetail.goToUrl(data.url)">
                <h4 class="line-height10">Affiliate</h4>
                <span class="line-height10">{{data.domain}}</span>
              </div>
              <div class="col col-40 text-right" ng-click="productDetail.goToUrl(data.url)">
                <h4>{{productDetail.symbol}}{{data.price}}</h4>
              </div>

            </div>
          </div>
          <div class="row text-large gray text-center padding-top-20" ng-if="!productDetail.comparisonData.length">
            <div class="col">
              <div class="valign-parent light-bg" style="min-height: 200px;">
                <div class="valign-child text-large gray roboto" style="line-height: 1.2em">
                  There is no comparison data for this product
                </div>
              </div>
            </div>
          </div>
        </div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" style="padding:1px;">
        <div class="item-description" class="slide"  ng-bind-html="productDetail.selectedProduct.content"
         ng-class="{'collapse':!productDetail.fullDesc}" ng-click="productDetail.fullDesc=!productDetail.fullDesc">
        </div>
        <div class="row text-large gray text-center padding-top-20" ng-if="productDetail.selectedProduct.content==''">
          <div class="col">
            <div class="valign-parent light-bg" style="min-height: 200px;">
              <div class="valign-child text-large gray roboto" style="line-height: 1.2em">
                There is no description for this product
              </div>
            </div>
          </div>
        </div>
        <div class="row border-bottom-gray" ng-if="productDetail.selectedProduct.content!=''">
          <div class="col text-center">
            <i class="icon text-xx-large" ng-class="{'ion-chevron-down':!productDetail.fullDesc,'ion-chevron-up':productDetail.fullDesc}"
            ng-click="productDetail.fullDesc=!productDetail.fullDesc"></i>
          </div>
        </div>
        <ion-item class="item-divider" ng-if="productDetail.additional.length">Additional Details</ion-item>
        <div class="item-videos" class="slide" ng-if="productDetail.additional.length"
          style="min-height: 200px;">
          <div ng-repeat="detail in productDetail.additional" class="row">
            <div class="col dark">
              {{detail.name}}
            </div>
            <div class="col">
              {{detail.value}}
            </div>
          </div>
        </div>
        <div class="row text-large gray text-center padding-top-20" ng-if="!productDetail.additional.length">
          <div class="col">
            <div class="valign-parent light-bg" style="min-height: 200px;" ng-if="productDetail.selectedTab==7">
              <div class="valign-child text-large gray roboto" style="line-height: 1.2em">
                There are no additional details for this product
              </div>
            </div>
          </div>
        </div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" style="padding:1px;">
        <div class="item-videos" class="slide"  ng-if="productDetail.videosData.length"
          style="min-height: 200px;">
          <ion-item ng-repeat="video in productDetail.videosData" class="item-thumbnail-left" ng-click="productDetail.goToUrl(video.url)">
            <img ng-src="{{video.img}}" class="full-image">
            <h2>{{video.title}}</h2>
            <p class="balanced">{{video.domain}}</p>
          </ion-item>
        </div>
        <div class="row text-large gray text-center padding-top-20" ng-if="!productDetail.videosData.length">
          <div class="col">
            <div class="valign-parent light-bg" style="min-height: 200px;">
              <div class="valign-child text-large gray roboto"  style="line-height: 1.2em">
                There is no video data for this product
              </div>
            </div>
          </div>
        </div>
      </ks-swiper-slide>
      
      <ks-swiper-slide class="swiper-slide" style="padding:1px;">
        <div class="item-videos" class="slide" ng-if="productDetail.socialData.length"
          style="min-height: 200px;">
          <ion-item ng-repeat="feed in productDetail.socialData" class="item-thumbnail-left item-text-wrap" ng-click="productDetail.goToUrl(feed.url)">
            <img ng-src="{{feed.logo}}" class="full-image">
            <p>{{feed.title}}</p>
          </ion-item>
        </div>
        <div class="row text-large gray text-center padding-top-20" ng-if="!productDetail.socialData.length">
          <div class="col">
            <div class="valign-parent light-bg" style="min-height: 200px;">
              <div class="valign-child text-large gray roboto" style="line-height: 1.2em">
                There is no social data for this product
              </div>
            </div>
          </div>
        </div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" style="padding:1px;">
        <div class="item-videos" class="slide" ng-if="productDetail.offersData.length"
          style="min-height: 200px;">
          <ion-item ng-repeat="feed in productDetail.offersData" class="item-thumbnail-left item-text-wrap" ng-click="productDetail.goToUrl(feed.url)">
            <img ng-src="{{feed.img}}" class="full-image">
            <p>{{feed.title}}</p>
          </ion-item>
        </div>
        <div class="row text-large gray text-center padding-top-20" ng-if="!productDetail.offersData.length">
          <div class="col">
            <div class="valign-parent light-bg" style="min-height: 200px;">
              <div class="valign-child text-large gray roboto" style="line-height: 1.2em">
                There is no news for this product
              </div>
            </div>
          </div>
        </div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" style="padding:1px;">
        <div class="item-videos" class="slide" ng-if="productDetail.booksData.length" style="min-height: 200px;">
          <ion-item ng-repeat="book in productDetail.booksData" class="item-thumbnail-left" ng-click="productDetail.goToUrl(book.url)">
            <img ng-src="{{book.img}}" class="full-image">
            <h2>{{book.title}}</h2>
            <p class="balanced">{{book.domain}}</p>
          </ion-item>
        </div>
        <div class="row text-large gray text-center padding-top-20" ng-if="!productDetail.booksData.length">
          <div class="col">
            <div class="valign-parent light-bg" style="min-height: 200px;">
              <div class="valign-child text-large gray roboto" style="line-height: 1.2em">
                There are no books for this product
              </div>
            </div>
          </div>
        </div>
      </ks-swiper-slide>
    </ks-swiper-container>
  </ion-content>
  <!--<ion-footer-bar class="padding-0">
    <button class="button button-full button-facebook margin-0 padding-0" ng-click="productDetail.itemAdded(productDetail.selectedProduct,1)">
      BUY
    </button>
  </ion-footer-bar>-->
</ion-view>