<ion-modal-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-plus-outline"></button>
    </div>
    <h1 class="title"><img src="img/inagrablogo.png" width="80" height="20"></h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-bell-outline"></button>
      <button class="button button-icon icon ion-android-contact"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row row-no-padding">
      <div class="col">
        <div class="row">
          <div class="col col-40 productImage" >
          </div>
          <div class="col col-60">
            <div class="row row-no-padding">
              <div class="col col-50">
                <div class="row row-no-padding">
                  <div class="col col-40 websiteLogo">

                  </div>
                  <div class="col col-60 font-8 line-height10 ">
                    <strong>Tablet Name</strong>
                    <strong>Code : 5ETD0</strong>
                  </div>
                </div>
              </div>
              <div class="col col-50 text-right">
                <h3>$20</h3>
              </div>
            </div>
            <div class="row row-no-padding">
              <div class="col line-height10">
                <label>Discriptiopn:</label>
              </div>
            </div>
            <div class="row font-8 line-height10 row-no-padding margin-top-5">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                sunt in culpa qui  culpa deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="row margin-top-0 row-center">
          <div class="col col-33 font-8">
        <span>review 2500 <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
        </span>
          </div>
          <div class="col col-20  ">
            <i class="icon ion-chatbox-working"></i>520
            <i class="icon ion-android-exit"></i>
          </div>
          <div class="col col-50">
            <button class="button button-small button-dark border-radius16">
              More...
            </button>
            <button class="button button-small button-balanced border-radius16">
              <i class="icon ion-ios-cart"></i>  Buy
            </button>

          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row row-no-padding">
      <div class="col">
        <div class="row">
          <div class="col col-40 productImage" >
          </div>
          <div class="col col-60">
            <div class="row row-no-padding">
              <div class="col col-50">
                <div class="row row-no-padding">
                  <div class="col col-40 websiteLogo">

                  </div>
                  <div class="col col-60 font-8 line-height10 ">
                    <strong>Tablet Name</strong>
                    <strong>Code : 5ETD0</strong>
                  </div>
                </div>
              </div>
              <div class="col col-50 text-right">
                <h3>$20</h3>
              </div>
            </div>
            <div class="row row-no-padding">
              <div class="col line-height10">
                <label>Discriptiopn:</label>
              </div>
            </div>
            <div class="row font-8 line-height10 row-no-padding margin-top-5">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                sunt in culpa qui  culpa deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="row margin-top-0 row-center">
          <div class="col col-33 font-8">
        <span>review 2500 <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
          <i class="icon ion-star"></i>
        </span>
          </div>
          <div class="col col-20  ">
            <i class="icon ion-chatbox-working"></i>520
            <i class="icon ion-android-exit"></i>
          </div>
          <div class="col col-50">
            <button class="button button-small button-dark border-radius16">
              More...
            </button>
            <button class="button button-small button-balanced border-radius16">
              <i class="icon ion-ios-cart"></i>  Buy
            </button>

          </div>
        </div>
        <hr>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
