<ion-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="reviews.goBack()"></button>
    </div>
    <h1 class="title">Reviews</h1>
  </ion-header-bar>

  <ion-content scroll="false" overflow-scroll="true">
        <div style="-webkit-overflow-scrolling: touch;
  	overflow-y: scroll;" ng-style="reviews.fullHeight">
            <iframe ng-style="reviews.fullHeight" class="fullScreen" src="{{reviews.iframe}}" frameborder="0" allowfullscreen
                iframe-onload="frameLoaded()"></iframe>
                </div>
    </ion-content>
  
</ion-view>