<ion-view>
  <ion-header-bar align-title="center">
    <h1 class="title"></h1>
    <div class="buttons">
      <!--<button class="button button-icon icon ion-ios-bell-outline" ng-click="searchProduct.GoToCart()">
        <span ng-if="totalCartItem>0" class="badge cart-count">{{totalCartItem}}</span>
      </button>-->
      <button class="button button-icon icon ion-android-contact" ng-click="searchProduct.GoToUserProfile()"></button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false">
    <div ng-style="searchProduct.main" class="valign-parent">
      <div class="valign-child">
        <div class="row div-centered-80">
          <div class="col text-center">
            <img class="full-image" src="img/inagrablogo.png">
          </div>
        </div>

        <div class="row div-centered-90 margin-top-20">
          <div class="col text-center relative">
            <div class="list list-inset margin-0">
              <label class="item item-input padding-top-0 padding-bottom-0 lightgray-bg front-page-search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="searchProduct.searchText" 
                ng-model-options="{debounce: 800}" ng-change="searchProduct.findProduct()" ng-focus="searchProduct.focusInput()"
                ng-blur="searchProduct.keyboardOpen = false">
              </label>
            </div>
            <div class="cancel-search" ng-if="searchProduct.searchText" ng-click="searchProduct.cancelSearch()">
              <i class="icon ion-ios-close dark text-xxx-large"></i>
            </div>
          </div>
        </div>
        <div class="row row-no-padding search-results" ng-if="searchProduct.searchResult.length">
          <div class="col" style="border: 1px solid lightgray;">
            <div class="search-results-inner-div">
              <ion-list class="padding-0">
                <ion-item class="padding-5 no-border border-bottom-lightgray margin-1">
                  <div class="row">
                    <div class="col gray">
                      Showing top results
                    </div>
                  </div>
                </ion-item>
                <ion-item ng-repeat="item in searchProduct.searchResult | limitTo:10" 
                ng-style="searchProduct.searchItemList" ng-click="searchProduct.productDesc(item)"
                ng-if="!item.invalid"
                  class="item-text-wrap margin-1 padding-5 no-border border-bottom-lightgray">

                  <div class="row padding-top-5 margin-top-0">
                    <div class="col col-25">
                      <div class="border-lightgray">
                        <img ng-src="{{item.img}}" class="full-image">
                      </div>
                    </div>
                    <div class="col">
                      <div class="row row-no-padding">
                        <div class="col bold item-title" ng-bind-html="item.post_title|capitalize">
                          
                        </div>
                      </div>
                      <div class="row balanced row-no-padding margin-top-5">
                        <div class="col">
                          {{searchProduct.symbol}} {{item.actualMinPrice.toString()||item.price}}
                        </div>
                      </div>
                      <div class="row gray text-small row-no-padding margin-top-5">
                        <div class="col item-desc" ng-bind-html="item.s_desc">
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
            </div>
            <ion-item class="padding-5 margin-1 no-border border-top-lightgray">
              <button class="button button-block margin-0 button-theme-blue button-small border-radius25" ng-click="searchProduct.bestDeals()">
              Show all results
            </button>
            </ion-item>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col gray text-center" style="min-height: 30px">
            <span ng-if="searchProduct.noSearchResult">
                  No product available for this search
                </span>
          </div>
        </div>
        <div class="row row-center text-center margin-top-20">
          <!--<div class="col col-10 z-100 nav-arrow" ng-click="searchProduct.prev()">
            <i class="icon ion-ios-arrow-left text-xxx-large"></i>
          </div>-->
          <div class="col">
            <ks-swiper-container swiper="searchProduct.swiper" override-parameters="{'effect':'slide'}" initial-slide="0" loop="false"
              show-nav-buttons="false"  slides-per-view="3" space-between="1" pagination-clickable="false">
              <ks-swiper-slide class="swiper-slide" style="padding:1px;" ng-repeat="affiliate in searchProduct.affiliateData" ng-click="searchProduct.selectAffiliate(affiliate)">
                <div class="shops-invisible" ng-class="{'selected':(searchProduct.affiliateSelected.logo==affiliate.logo)||
                (searchProduct.searchFromAll && affiliate.logo=='all')}">
                  <img ng-src="img/logos/{{affiliate.logo}}.png" class="full-image">
                </div>
              </ks-swiper-slide>
            </ks-swiper-container>
          </div>
          <!--<div class="col col-10 z-100 nav-arrow" ng-click="searchProduct.next()">
            <i class="icon ion-ios-arrow-right text-xxx-large"></i>
          </div>-->
        </div>
        <div class="row">
          <div class="col text-center gray" style="min-height: 30px">
            <span ng-if="searchProduct.affiliateSelected.logo">
              Searching products from {{searchProduct.affiliateSelected.logo}} only
            </span>
            <span ng-if="!searchProduct.affiliateSelected.logo">
              Searching products from all websites
            </span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="padding-0 no-border" ng-if="!searchProduct.keyboardOpen">
    <div class="row row-center text-center row-no-padding">
      <div class="col  margin-right-25 margin-left-25">
        <button class="button button-block margin-top-0 button-balanced button-small border-radius25 icon ion-ios-shuffle front-page-random-button"
          style="line-height: 37px" ng-click="searchProduct.GoToCategory()">
          Random Shop
          </button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>