<ion-modal-view>
  <ion-header-bar class="bar-stable"  align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="shippingAddress.goBack()"></button>
    </div>
    <h1 class="title"><img src="img/inagrablogo.png" width="80" height="20"></h1>
  </ion-header-bar>
  <form ng-submit="doConfirm(frm)" novalidate="" name="frm">
  <ion-content>
    <div class="item item-divider">
      SHIPPPING ADDRESS
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" name="first_name" placeholder="First Name" ng-model="ship.first_name" required>
        <label class="control-label text-danger" ng-show="frm.first_name.$invalid && ship.first_name!=''">
          <i class="icon ion-alert"></i>
          First name can't be empty
        </label>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" name="last_name" placeholder="Last Name" ng-model="ship.last_name" required>
        <label class="control-label text-danger" ng-show="frm.last_name.$invalid && ship.last_name!=''">
          <i class="icon ion-alert"></i>
          Last name can't be empty
        </label>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mobile no.</span>
        <input type="number" name="phone" placeholder="Mobile no." ng-model="billing.phone" required>
        <label class="control-label text-danger" ng-show="frm.phone.$invalid && billing.phone!=''">
          <i class="icon ion-alert"></i>
         Mobile no. can't be empty
        </label>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email id</span>
        <input type="email" name="email" placeholder="Email id" ng-model="billing.email" required>
        <label class="control-label text-danger" ng-show="frm.email.$invalid && billing.email!=''">
          <i class="icon ion-alert"></i>
          Email id can't be empty
        </label>
      </label>
      <label  ng-click="showCountry()" class="item item-input item-floating-label item-icon-right">
      <span class="input-label">Country </span>
      <input type="text" placeholder="Country" ng-model="ship.country">
    </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Street Address</span>
        <input type="text" name="address_1" placeholder="Street Address" ng-model="ship.address_1" required>
        <label class="control-label text-danger" ng-show="frm.address_1.$invalid && ship.address_1!=''">
          <i class="icon ion-alert"></i>
          Street address can't be empty
        </label>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Apartment,unit (optional)</span>
        <input type="text" name="address_2" placeholder="Apartment,unit (optional)" ng-model="ship.address_2">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Town/City</span>
        <input type="text"  name="city" placeholder="Town/City" ng-model="ship.city" required>
        <label class="control-label text-danger" ng-show="frm.city.$invalid && ship.city!=''">
          <i class="icon ion-alert"></i>
          Town/city can't be empty
        </label>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">State</span>
        <input type="text" name="state" placeholder="State" ng-model="ship.state" required>
        <label class="control-label text-danger" ng-show="frm.state.$invalid && ship.state!=''">
          <i class="icon ion-alert"></i>
          State can't be empty
        </label>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Zip Code</span>
        <input type="number" name="postcode" placeholder="Zip Code" ng-model="ship.postcode">
        <label for="postcode" class="control-label text-danger" ng-show="frm.postcode.$invalid && ship.postcode!=''">
          <i class="icon ion-alert"></i>
          Zipcode can't be empty
        </label>
      </label>
    </div>
    <div class="item item-divider">
      SHIPPING METHOD
    </div>
    <ion-list>
      <ion-radio ng-repeat="x in shipping" name="shipping_method" ng-click="setShip(x)">
        <div>{{x.name}}</div>
        <div>
          <b ng-bind-html="x.cost | currency:format:decimal"></b>
        </div>
      </ion-radio>
    </ion-list>
    <div class="item item-divider">
      PAYMENT METHOD
    </div>
    <ion-list>
      <ion-radio ng-repeat="x in payment" name="payment_method" ng-click="setPayment(x)">
        <div><b>{{x.name}}</b> <i class="{{x.icon}}"></i></div>
        <div>{{x.desc}}</div>
      </ion-radio>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="padding-0">
    <button class="button button-full button-facebook margin-0 padding-0"
            ng-disabled="frm.$invalid || !ship.country || !shipping_lines[0].method_id || !payment_details.method_id">
      Confirm
    </button>
    </form>
  </ion-footer-bar>

</ion-modal-view>
