<ion-modal-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="signUp.GoBack()"></button>
    </div>
    <h1 class="title">Sign Up</h1>
  </ion-header-bar>
  <form name="frm" id="signup">
  <ion-content>
    <div>
      <div class="row div-centered-80">
        <div class="col  text-center">
          <h3 class="signUpColor margin-0">Welcome to</h3>
          <img class="margin-0" src="img/inagrablogo.png" width="90%" height="50%">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <div class="list list-inset margin-bottom-0">
                <label class="item item-input">
                  <input type="text" name="firstName" placeholder="First Name" ng-model="userDetail.firstName" required>
                </label>
                <label class="control-label text-danger" ng-show="frm.firstName.$invalid && userDetail.firstName!=''">
                  <i class="icon ion-alert"></i>
                  First name can't be empty
                </label>
              </div>
              <div class="list list-inset margin-top-10 margin-bottom-0">
                <label class="item item-input">
                  <input type="text" name="lastName" placeholder="Last Name" ng-model="userDetail.lastName" required>
                </label>
                <label class="control-label text-danger" ng-show="frm.lastName.$invalid && userDetail.lastName!=''">
                  <i class="icon ion-alert"></i>
                  Last name can't be empty
                </label>
              </div>
              <div class="list list-inset margin-top-10 margin-bottom-0">
                <label class="item item-input item-floating-label">
                  <input type="text" class="form-control" name="username" placeholder="Username" id="username" ng-pattern="/^[a-zA-Z0-9]*$/" required ng-model='userDetail.username'>
                </label>
                  <label for="username" class="control-label text-danger" ng-show="userDetail.username.length<5 && userDetail.username!=''">
                    <i class="icon ion-alert"></i>
                    Username must be >= 5 characters
                  </label>
                  <label for="username" class="control-label text-danger" ng-show="frm.username.$invalid && userDetail.username!=''">
                    <i class="icon ion-alert"></i>
                    Username must be alphanumeric
                </label>
              </div>
              <div class="list list-inset margin-top-10 margin-bottom-0">
                <label class="item item-input">
                  <input type="number" name="number" placeholder="Mobile Number" ng-model="userDetail.number" required>
                </label>
                <label class="control-label text-danger" ng-show="frm.number.$invalid && userDetail.number!=''">
                  <i class="icon ion-alert"></i>
                  Mobile Number can't be empty
                </label>
              </div>
              <div class="list list-inset margin-top-10 margin-bottom-0">
                <label class="item item-input">
                  <input type="email" name="email" placeholder="Enter your email" ng-model="userDetail.email" required>
                </label>
                <label class="control-label text-danger" ng-show="frm.email.$invalid && userDetail.email!=''">
                  <i class="icon ion-alert"></i>
                 Enter proper email address
                </label>
              </div>
              <div class="list list-inset margin-top-10">
                <label class="item item-input">
                  <input type="password" name="password" placeholder="Password" ng-model="userDetail.password" required>
                </label>
                <label for="password" class="control-label text-danger" ng-show="userDetail.password.length<8 && userDetail.password!=''">
                  <i class="icon ion-alert"></i>
                  Password must be >= 8 characters
                </label>
                <label class="control-label text-danger" ng-show="frm.password.$invalid && userDetail.password!=''">
                  <i class="icon ion-alert"></i>
                 Password  is must
                </label>
              </div>

          </div>
          <div class="row" ng-if="message">
            <div class="col">
              {{message}}
            </div>
          </div>
          <div class="row margin-top-30">
            <div class="col">
              <hr>
              <div class="font-10 text-center"> Tap "Agree and continue" to accept the <a>Inagrab App Terms of Service</a>
                and <a>Privacy Policy</a></div>
              <div class="col text-center">
                <h3 class="ion-ios-arrow-right"> Agree and Continue</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="padding-0">
    <button form="signup"  type="submit" value="Reset" ng-disabled="frm.$invalid||(userDetail.password.length<8)"  class="button button-full button-signUp margin-0 padding-0" ng-click="signUp.GoToCategory()">
      GO
    </button>
    </form>
  </ion-footer-bar>
</ion-modal-view>
