<ion-modal-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="signIn.GoBack()"></button>
    </div>
    <!--<h1 class="title">SignIn</h1>-->
  </ion-header-bar>
  <ion-content>
    <div>
      <div class="row div-centered-80">
        <div class="col  text-center">
          <h3 class="signUpColor margin-0">Welcome to</h3>
          <img class="margin-0" src="img/inagrablogo.png" width="90%" height="50%">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <form>
              <div class="list list-inset margin-top-10 margin-bottom-0">
                <label class="item item-input">
                  <input type="text" placeholder="Username" ng-model="user.name">
                </label>
              </div>
              <div class="list list-inset margin-top-10">
                <label class="item item-input">
                  <input type="password"   placeholder="Password" ng-model="user.password">
                  <i class="icon-left ion-ios-help-outline font-28 margin-right-10"></i>
                </label>
              </div>
            </form>
          </div>
          <div class="row margin-top-30">
            <div class="col text-center bold">
              <span ng-click="signIn.GoToForgotPassword()">Forgot password?</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row" ng-if="message">
      <div class="col text-center assertive">
        {{message}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-full button-signIn" ng-click="signIn.UserSignin()">
              Sign In
        </button>
      </div>
    </div>
    <div class="row margin-top-10">
      <div class="col text-center bold positive">
        <span ng-click="signIn.goToSignUp()">Don't have an account</span>
      </div>
    </div>
  </ion-content>

</ion-modal-view>