<ion-modal-view>
  <ion-header-bar class="bar-stable"  align-title="center">
    <h1 class="title"><img src="img/inagrablogo.png" width="80" height="20"></h1>
  </ion-header-bar>
  <ion-content>
<div class="text-center margin-top-30">
  <!--<img src="img/thumbs.png" width="50%" height="auto">-->
  <i class="icon ion-ios-cart-outline positive" style="font-size: 100px"></i>
  <h4>Congratulations!<br>Your order is successfull.</h4>
  <p >Your  order id is <b>#{{id}}.</b><br>Your total order amount is <b ng-bind-html="total | currency:format:decimal"></b>.</p>
  <p  ng-if="payment=='paypal'">You have paid this order using PayPal.</p>
  <p  ng-if="payment=='bacs'">Please make a payment to our bank account as soon as possible.</p>
  <p  ng-if="payment=='cod'">Your order is on the way.</p>
  <!--<button class="button button-dark round" ng-click="thanks.GoToOrders()">Manage Orders</button>-->
</div>
  </ion-content>
  <ion-footer-bar class="padding-0">
    <button class="button button-full button-facebook margin-0 padding-0" ng-click="thanks.GoToOrders()">
      Manage Orders
    </button>
  </ion-footer-bar>
</ion-modal-view>
