<ion-modal-view>
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title"><img src="img/inagrablogo.png" width="80" height="20"></h1>
    <div class="buttons">
      <button class="button button-icon icon ion-log-out" ng-click="userProfile.logout()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="text-center home-title">
      <div class="col padding-0">
        <img src="img/man.png" width="150px" height="150px" ng-if="!userProfile.userInfo.image">
        <img src="{{userProfile.userInfo.image}}" width="150px" height="150px" class="border-radius50" ng-if="userProfile.userInfo.image">
      </div>
    </div>
    <div class="row ">
      <div class="col col-33 ">
        <button class="button button-full button-small button-facebook">
              Followers
            </button>
      </div>
      <div class="col col-33 ">
        <button class="button button-full button-small button-signin">
              Following
            </button>
      </div>
      <div class="col col-33 ">
        <button class="button button-full button-small button-google">
             Reviews
            </button>
      </div>
    </div>

    

    <div class="row row-center margin-top-20">
      <div class="col col-33 text-right">
        <i class="icon ion-ios-arrow-thin-right text-xxx-large" ng-click="userProfile.orderHistory()"></i>
      </div>
      <div class="col col-60 text-left text-medium dark" ng-click="userProfile.orderHistory()">Purchase History</label>
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-33 text-right ">
        <i class="icon ion-ios-arrow-thin-right text-xxx-large"></i>
      </div>
      <div class="col col-60 text-left text-medium dark">Your Reviews
      </div>
    </div>
    <div class="row row-center margin-bottom-20">
      <div class="col col-33 text-right">
        <i class="icon ion-ios-arrow-thin-right text-xxx-large" ng-click="userProfile.InviteFriend()"></i>
      </div>
      <div class="col col-60 text-left text-medium dark" ng-click="userProfile.InviteFriend()">Invite Friends</label>
      </div>
    </div>
<div class="row div-centered-90 border-top-lightgray">
      <div class="col">
        <div class="relative">
          <label class="margin-left-5 neutra text-medium">
          CURRENCY
        </label>
          <label class="item item-input item-select website-label " ng-click="userProfile.toggleCategoryList()" ng-class="{'z-100':userProfile.showCategoryList}">
            {{userProfile.selectedCurrency.name}}&nbsp;<span class="gray"> {{userProfile.selectedCurrency.symbol}}</span> 
        </label>
          <div class="currency-list" ng-if="userProfile.showCurrencyList">
            <div class="row padding-top-5 margin-top-0 padding-left-15 filter-list border-bottom-lightgray gray" ng-repeat="currency in userProfile.currencies"
              ng-click="userProfile.selectCurrency(currency)">
              <div class="col">
                {{currency.name}} <span class="gray">{{currency.symbol}}</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>