.signUpColor{
  color: #00b0ad;
}
.singInColor{
  color:  #c42c53;
}
.button.button-signIn {
  border-color: transparent;
  background-color: #c42c53;
  color: #fff; }
.button.button-signIn:hover {
  color: #fff;
  text-decoration: none; }
.button.button-signIn.active, .button.button-signIn.activated {
  border-color: #a2a2a2;
  background-color: #c42c53; }
.button.button-signIn.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #c42c53; }
.button.button-signIn.button-icon {
  border-color: transparent;
  background: none; }
.button.button-signIn.button-outline {
  border-color: #c42c53;
  background: transparent;
  color: #c42c53; }
.button.button-signIn.button-outline.active, .button.button-signIn.button-outline.activated {
  background-color: #b01050;
  box-shadow: none;
  color: #fff; }
.button.button-signUp {
  border-color: transparent;
  background-color: #00b0ad;
  color: #fff; }
.button.button-signUp:hover {
  color: #fff;
  text-decoration: none; }
.button.button-signUp.active, .button.button-signUp.activated {
  border-color: #a2a2a2;
  background-color: #00b0ad; }
.button.button-signUp.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #00b0ad; }
.button.button-signUp.button-icon {
  border-color: transparent;
  background: none; }
.button.button-signUp.button-outline {
  border-color: #00b0ad;
  background: transparent;
  color: #00b0ad; }
.button.button-signUp.button-outline.active, .button.button-signUp.button-outline.activated {
  background-color: #11b1bd;
  box-shadow: none;
  color: #fff; }
.googleColor{
  color:  #dd4b39;
}
.button.button-google {
  border-color: transparent;
  background-color: #dd4b39;
  color: #fff; }
.button.button-google:hover {
  color: #fff;
  text-decoration: none; }
.button.button-google.active, .button.button-google.activated {
  border-color: #a2a2a2;
  background-color: #dd4b39; }
.button.button-google.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #dd4b39; }
.button.button-google.button-icon {
  border-color: transparent;
  background: none; }
.button.button-google.button-outline {
  border-color: #dd4b39;
  background: transparent;
  color: #dd4b39; }
.button.button-google.button-outline.active, .button.button-google.button-outline.activated {
  background-color: #d04030;
  box-shadow: none;
  color: #fff; }
  


 .button.button-facebook {
   border-color: transparent;
   background-color: #3b5998;
   color: #fff; }
.button.button-facebook:hover {
  color: #fff;
  text-decoration: none; }
.button.button-facebook.active, .button.button-facebook.activated {
  border-color: #a2a2a2;
  background-color: #3b5998; }
.button.button-facebook.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #3b5998; }
.button.button-facebook.button-icon {
  border-color: transparent;
  background: none; }
.button.button-facebook.button-outline {
  border-color: #3b5998;
  background: transparent;
  color: #3b5998; }
.button.button-facebook.button-outline.active, .button.button-facebook.button-outline.activated {
  background-color: #305090;
  box-shadow: none;
  color: #fff; }
.emailColor{
  color: #b000a1;
}
.button.button-email {
  border-color: transparent;
  background-color: #b000a1;
  color: #fff; }
.button.button-email:hover {
  color: #fff;
  text-decoration: none; }
.button.button-email.active, .button.button-email.activated {
  border-color: #a2a2a2;
  background-color: #b000a1; }
.button.button-email.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #b000a1; }
.button.button-email.button-icon {
  border-color: transparent;
  background: none; }
.button.button-email.button-outline {
  border-color: #b000a1;
  background: transparent;
  color: #b000a1; }
.button.button-email.button-outline.active, .button.button-email.button-outline.activated {
  background-color: #b809a1;
  box-shadow: none;
  color: #fff; }

.button.button-signin {
  border-color: transparent;
  background-color: #c42c53;
  color: #fff; }
.button.button-signin:hover {
  color: #fff;
  text-decoration: none; }
.button.button-signin.active, .button.button-signin.activated {
  border-color: #a2a2a2;
  background-color: #c42c53; }
.button.button-signin.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #c42c53; }
.button.button-signin.button-icon {
  border-color: transparent;
  background: none; }
.button.button-signin.button-outline {
  border-color: #c42c53;
  background: transparent;
  color: #c42c53; }
.button.button-signin.button-outline.active, .button.button-signin.button-outline.activated {
  background-color: #c02050;
  box-shadow: none;
  color: #fff;
}
.InviteColor{
  color: #c42c53;
}
.font-7{
  font-size: 7px;
}
.margin-zero{
  margin: 0px;
}
.bg-green{
  background-color: #01bd56;
}
.color-white{
  color: #ffffff;
}
.padding-bottom-1{
  padding-bottom: 1px !important;
}
.postion-relative{
  position: relative;
}
.bottom-right {
  position: absolute;
  bottom: 0;
  right: -2px;
}
.bottom-left{
  position: absolute;
  bottom: 0;
  left: 0px;
}
.bg-colorBD0122{
  background-color: #bd0122;
}
.bg-color004D83{
  background-color: #004D83;
}
.bg-color3B3A47{
  background-color: #3B3A47;
}
.border-radius25{
  border-radius: 25px !important;
}
.border-radius50{
  border-radius: 50% !important;
}
.border-radius16{
  border-radius: 16px !important;
}
.border-radius8{
  border-radius: 8px;
}
.font-8{
  font-size: 8px;
}
.line-height10{
  line-height: 10px;
}
.line-height0{
  line-height: 0px;
}
.categoryImage{
  background-image: url("../img/laptop.jpg");
  background-size: contain;
  width: 100%;
  height: auto;
  background-repeat:no-repeat ;
}
.productImage{
  /*background-image: url("../img/laptop.jpg");*/
  /*background-size: contain;*/
  width: 100%;
  height: auto;
  /*background-repeat:no-repeat ;*/
  border: 1px solid lightgray;
  border-radius: 10px;
}
.productImage img{
  border-radius: 10px;
}
.websiteLogo{
  /*background-image: url("../img/amazon.jpg");*/
  background-size: contain;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: left;
}
.userProfile{
  background-image: url("../img/circle-user-man.png");
  background-size: contain;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;

}
.amazon{
  background-image: url("../img/amazon.jpg");
  background-size: contain;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.alibaba{
  background-image: url("../img/alibaba.png");
  background-size: contain;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.ebay{
  background-image: url("../img/ebay.png");
  background-size: contain;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;

}
.hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.font-28{
  font-size: 28px;
}
.font-18{
  font-size: 18px;
}
.margin-5{
  margin: 5px;
}
.padding-5{
  padding: 5px;
}
.fa-6{
  font-size: 10em;
  margin: 20px 0 25px;
  color: orange;
}
.cart-count{
  position: absolute !important;
  left: 25px;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  opacity: 1;
  z-index: 2;
  text-align: center;
  padding: 0;
  font-size: 11px;
  line-height: 20px;
  margin: 0!important;
}
.cartDiv{
  position: relative;
  margin-right: 46px
}
.postion-absolute{
  position: absolute;
}
.margin-top-3{
  margin-top: 2px;
}
.description{
  max-height: 40px;
  /*min-height: 40px;*/
  overflow: hidden;
}
.description img{
  display: none;
}
.nowrap{
  white-space: nowrap!important;
}
.website-label{
  min-height: 30px;
  border-radius: 15px;
  margin: 10px 0;
  overflow: visible;
}
.website-select{
  max-width: 100%!important;
  /* text-align: center; */
  direction: ltr;
  width: 100%;
  border-radius: 15px;
  text-align-last: center;
}
.no-border{
  border: none !important;
  background-image: none !important;
}
.valign-parent{
  display: table;
  width: 100%;
}
.valign-child{
  display: table-cell;
  vertical-align: middle;
}

.slider-min{
  position: absolute;
  position: absolute;
  color: #f06424 ;
  top: 0;
  font-size: 0.8em;
}
.slider-value{
  position: absolute;
  color: #f06424 ;
  top: -9px;
  font-size: 0.8em;
  min-width: 35px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid;
  border-radius: 40px;
}
.multi-slider-value{
  position: absolute;
  color: #f06424 ;
  top: 2px;
  font-size: 0.8em;
  min-width: 35px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid;
  border-radius: 40px;
  padding: 0 4px;
}
.button.button-theme-blue {
  border-color: transparent;
  background-color: #3789cf;
  color: #fff; }
.button.button-theme-blue:hover {
  color: #fff;
  text-decoration: none; }
.button.button-theme-blue.active, .button.button-theme-blue.activated {
  border-color: #3789cf;
  background-color: #3789cf; }
.button.button-theme-blue.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #3789cf; }
.button.button-theme-blue.button-icon {
  border-color: transparent;
  background: none; }
.button.button-theme-blue.button-outline {
  border-color: #3789cf;
  background: transparent;
  color: #3789cf; }
.button.button-theme-blue.button-outline.active, .button.button-theme-blue.button-outline.activated {
  background-color: #3789cf;
  box-shadow: none;
  color: #fff; }


.shops{
  width: 50px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: inline-block;
  padding:5px;
  margin-top:7px;
}
.shops-invisible{
  display: inline-block;
  border: 1px solid #e8e8e8;
}
.shops-invisible.selected{
  border: 2px solid #3789cf;
}
.shop-image{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}
.shops img{
  border-radius: 8px;
}
.swiper-slide-next .shops{
  width: 70px;
  height: 70px;
  border: 2px solid #00a29e;
  border-radius: 10px;
  margin-top:0;
}
/*.shops.active{*/
  /*width: 60px;*/
  /*height: 60px;*/
  /*border: 2px solid #00a29e;*/
  /*border-radius: 10px;*/
  /*margin-top:0;*/
/*}*/
.swiper-container {
  width: 200px;
  height: 70px;
  overflow: visible;
}

.product-detail-page .swiper-container {
  width: 100%;
  height:auto;
  /*overflow: hidden;*/
}
.swiper-button-prev{
  left:-30px;
  top: 60% !important;
  /*background-image: url('../img/prev.png');*/
  width:30px !important;
  height: 30px !important;
  background-size: 100% !important;
  opacity: 1!important;
}
.swiper-button-next{
  right:-30px;
  top: 60% !important;
  /*background-image: url('../img/next.png');*/
  width:30px !important;
  height: 30px !important;
  background-size: 100% !important;
  opacity: 1!important;
}
.swiper-slide-shadow-left,.swiper-slide-shadow-right{
  background-image: none !important;
}
.z-100{
  z-index: 100;
}
.swiper-slide{
  transform: rotateX(0deg) rotateY(0deg) !important;
}
.font-10{
  font-size: 10px;
}

.font-12{
  font-size: 12px;
}
.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0px 0px;
  border-color: transparent #3B3A47 transparent transparent;
}
.margin-left--30px{
  position: absolute;
  margin-left: -30px;
  bottom: 0px;
}
.triangle-right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0px 20px;
  border-color: transparent transparent transparent #004D83;
}
.margin-right--20px{
  position: absolute;
  bottom: 0px;
  right: -20px;
}
.category-button{
  line-height: 30px !important;
  height: 30px;
  padding:0 10px !important;
}
.category-div{
  min-height: 50px;
}
.no-bg-image{
  background-image: none!important;
}
.search-results{
  position: absolute;
    width: 90%;
    margin-left: 5%;
    z-index: 10000;
}
.search-results-inner-div{
  max-height: 150px;
  overflow-y: scroll;
}
.margin-1{
  margin: 0 1px!important;
}
.padding-0 .list{
  padding: 0!important;
}
.search-results-category{
  position: absolute;
    width: 100%;
    /*margin-left: -11px;*/
    z-index: 10000;
    top:44px;
    left: 0;
}
.overflow-v{
  overflow: visible!important;
}
.search-backdrop{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}
.tab-row-scroll{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 40px;
}
.tab-row{
  white-space: nowrap;
  overflow: scroll;
  width: 800px;
}
.tab-row .active{
  color: #0c60ee;
  padding-bottom: 5px;
  border-bottom: 5px solid #0c60ee;
}
.tab-row .col{
  padding-top: 10px;
  padding-bottom: 10px;
}
.item-description .gallery-size-thumbnail{
  display: none;
}
.item-description {
  padding: 10px;
}
.tab-col{
      padding: 10px;
    min-width: 100px;
    display: inline-block;

}
.nav-arrow{
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    color: white;
}
.cancel-search{
  position: absolute;
  right: 16px;
  top: 13px;
  z-index: 100;
}
.collapse{
  max-height: 70px;
  overflow: hidden;
}
.cancel-category-search{
  position: absolute;
  right: 21px;
  top: 5px;
  z-index: 100;
}
.category-list{
  position: absolute;
  z-index: 99;
  background: white;
  box-shadow: 0 1px 10px 1px #888;
  width: 100%;
  max-height: 200px;
  overflow: scroll;
  top: 125px;
}
.website-list{
  position: absolute;
  z-index: 99;
  background: white;
  box-shadow: 0 1px 10px 1px #888;
  width: 100%;
  max-height: 200px;
  overflow: scroll;
}
.category-list-search{
  position: absolute;
  z-index: 99;
  background: white;
  box-shadow: 0 1px 10px 1px #888;
  width: 100%;
  height: 44px;
  overflow: scroll;
}
.currency-list{
  position: absolute;
  z-index: 100;
  background: white;
  box-shadow: 0 1px 10px 1px #888;
  width: 100%;
  bottom: 0;
  
}
.select-overlay{
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  z-index: 98;
}
.front-page-search{
      min-height: 50px;
    border-radius: 25px!important;
    font-size: 20px;
}
.front-page-search input{
  border-radius: 25px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}
.front-page-random-button{
  font-size: 18px!important
}
.front-page-random-button:before{
  font-size: 24px!important;
}
.category-sub-header{
  padding: 4px 10px;
}
.category-sub-header label{
  background: lightgray;
  font-size: 20px;
}
.category-sub-header label input{
  height: 36px!important;
  font-size:18px !important;
}
.filter-list{
  border-bottom: 1px solid lightgray;
  padding-left: 12px;
  font-size: 18px;
}
.item-title{
    max-height: 40px;
    overflow: hidden;
    font-size: 16px!important;
    line-height: 20px!important;
}
.item-desc{
    max-height: 47px!important;
    line-height: 15px!important;
    overflow: hidden;
    font-size: 13px!important;
}
.button.button-whatsapp {
   border-color: transparent;
   background-color: #25D366;
   color: #fff; }
.button.button-whatsapp:hover {
  color: #fff;
  text-decoration: none; }
.button.button-whatsapp.active, .button.button-whatsapp.activated {
  border-color: #25D366;
  background-color: #25D366; }
.button.button-whatsapp.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #25D366; }
.button.button-whatsapp.button-icon {
  border-color: transparent;
  background: none; }
.button.button-whatsapp.button-outline {
  border-color: #25D366;
  background: transparent;
  color: #25D366; }
.button.button-whatsapp.button-outline.active, .button.button-whatsapp.button-outline.activated {
  background-color: #25D366;
  box-shadow: none;
  color: #fff; }